# Virtual environment 
venv/

# Build files 
target/ 
/**/.mypy_cache/
Cargo.lock 
*.so
/**/__pycache__/
/**/.pytest_cache/
/**/.ruff_cache/
.coverage

# Docs build output
_site/
site/

# Playground files
scratch.py

