# Virtual environment 
venv/

# Build files 
target/ 
/**/.mypy_cache/
*.so
/**/__pycache__/
/**/.pytest_cache/
/**/.ruff_cache/
.coverage

# Docs build output
_site/
site/

# ASV benchmark working directories
.asv/
results/

# Playground files
scratch.py

